.btn-submit {
    border-radius: 9px;
    background: #BB202F;
    padding: 5px 3px;
    color: white;
    box-shadow: 0px 0px #630D1A;
    border-color: transparent;
    width: 90%;
    max-width: 250px;
    font-size: 23px;
    font-weight: 700;
}

.title-mgt {
    color: white;
    font-size: 23px;
    padding: 3px 25px 3px 25px;
    background: #BB202F;
    border-radius: 19px;
}

.presentee-info-mgt {
    font-size: 19px;
}

.control-label-mgt {
    color: #5C5D5F;
    font-size: 14.6px;
}

.text-align-mgt {
    font-style: italic;
    text-align: center;
}

.title-align-mgt {
    text-align: center;
}

.z-index-mgt {
    z-index: 1;
}

.thanks {
    border: 1.2px solid #535355;
    border-radius: 35px;
    padding-bottom: 19px;
    padding-top: 19px;
    display: none;
}

.form-hidden-mgt {
    display: none;
}

.thank-align-mgt {
    text-align: center;
    color: #535355;
}

.thank-align-mgt .control-label-mgt {
    font-weight: 100 !important;
    font-size: 19px;
}

.btn-back {
    background: #58585A;
}

#group-btn-bottom {
    display: flex;
}

.show {
    display: block;
}

.col-md-2, .col-md-4, .col-md-5, .col-sm-6, .col-md-6, .col-md-7, .col-md-8, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#presenteeInfoForm label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 15px;
}

@media screen and (max-width: 420px) {
    .form-mgt {
        width: 90%;
        margin: auto;
    }
    .title-mgt {
        letter-spacing: -1px;
        font-size: 13.9px;
    }
    .presentee-info-mgt {
        font-size: 13px;
    }
    .control-label-mgt {
        font-size: 12px;
    }
    .btn-thanks {
        font-size: 12px;
    }
    .thank-align-mgt .control-label-mgt {
        font-size: 12px;
    }
    strong {
        white-space: nowrap;
    }
}

@media screen and (min-width: 421px) and (max-width: 991px) {
    .form-mgt {
        width: 85%;
        margin: auto;
    }
    .title-mgt {
        letter-spacing: -1px;
        font-size: 15.4px;
    }
    .presentee-info-mgt {
        font-size: 14.5px;
    }
    .control-label-mgt {
        font-size: 13px;
    }
    .btn-thanks {
        font-size: 13px;
    }
    .thank-align-mgt .control-label-mgt {
        font-size: 14px;
    }
    strong {
        white-space: nowrap;
    }
}

@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width: 992px) and (max-width: 1920px) {
    .form-mgt {
        width: 80%;
        margin: auto;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-12 {
        float: left;
    }
}