<html ng-app="app">
<title>Bào Cát Quê Mình</title>
<link rel="stylesheet" href="./css/index.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="./js/index.js"></script>

<body class="body" ng-controller="appCtrl">
    <div class="slideshow-container">
        <div class="mySlides fade" ng-repeat="slide in slidesShow">
            <div class="numbertext">{{slide.numbertext}}</div>
            <img ng-src="{{slide.image}}">
            <div class="text">{{slide.text}}</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>
    <div style="text-align:center" id="dot"></div>
    <div class="container">
        <p class="time">Today is: {{dateNow|date:'MMM dd, yyyy EEEE. a - HH:mm:ss:sss'}}</p>
        <tabs>
            <pane title="FlappyBird">
                <flappy></flappy>
            </pane>
            <pane title="Cong2So">
                <h4>World</h4>
                <em>Mauris elementum elementum enim at suscipit.</em>
                <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
            </pane>
        </tabs>
        <div class="w3-text-white w3-row-padding">
            <div class="w3-col s12">
                <h4>Thông Tin Chính</h4>
                <p>Nguyễn Thị Kiêm</p>
                <p>Bạn muốn biết ngày gì?</p>
                <label>Ngày Mất-Chôn của ngoại(Dương) 08/03/2018 - 08/06/2018.</label>
                <label>Ngày Mất-Chôn của ngoại(Âm) 06/22/2018 - 06/25/2018.
          <input id="txtDate" autocomplete="off" placeholder="Nhập ngày/tháng/năm" type="text" value=""
            style="background-color:white;" />
        </label>
                <label>Số ngày thêm: </label>
                <label onclick="decrementQty()" item-right>-</label>
                <input id="numDay" type="number" min="1" value="49" />
                <label onclick="incrementQty()" item-right>+</label>
                <label>Ngày cần tính(ngày/tháng/năm): <input id="follow_Date" placeholder="tự ra khi nhấn vào nút Tính"
            type="text" readOnly="true" /></label>
                <button class="w3-button w3-block w3-black" onclick="getdate()">Tính</button>
            </div>
        </div>
        <IFRAME style="background-color:pink;" src="http://www.informatik.uni-leipzig.de/~duc/amlich/PHP/index.php" align="right" name="CurentMonth" width="100%" height="550" frameborder=0>
    </IFRAME>
    </div>
    <!-- Footer -->
    <footer class="footer" id="footer">
        <div class="footer-padding">
            <div class="footer-left">
                <h4>Công Ty</h4>
                <p><i class="fa fa-fw fa-map-marker"></i> Vietcredit.vn</p>
                <p><i class="fa fa-fw fa-street-view"></i> 195 Điện Biên Phủ, P.15, Q.Bình Thạnh, TP.HCM</p>
                <p><i class="fa fa-fw fa-briefcase"></i> Lập Trình</p>
            </div>
            <div class="footer-right">
                <h4>Liên Hệ</h4>
                <p><i class="fa fa-fw fa-user-o"></i> Mr.Nghia</p>
                <p><i class="fa fa-fw fa-phone"></i> 0972.73.73.08</p>
                <p><i class="fa fa-fw fa-envelope"></i> lamtrongnghia1990@mail.com</p>
            </div>
            <br>
            <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
            <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
            <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
            <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
            <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        </div>
    </footer>
</body>

</html>