<form name="presenteeInfoForm" class="form-mgt form-horizontal" ng-controller="appCtrl as preCtrl">
    <div class="form-hidden-mgt" ng-class="{'show': preCtrl.show}">
        <div class="form-group title-align-mgt">
            <label class="col-md-12">
                <span class="title-mgt">Thông tin người bạn muốn giới thiệu để mở Thẻ Vay</span>
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-7">
                        <label class="presentee-info-mgt">Mã giới thiệu của bạn:</label>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <input type="text" class="form-control border-input" ng-model="preCtrl.form.Presentee.ReferralCode" ng-disabled="true" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">
                <span class="presentee-info-mgt">Thông tin người được giới thiệu</span>
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <label class="control-label-mgt" for="welcomeFullName">Họ và tên:<span class="cfc-color">*</span>:</label>
                    </div>
                    <div class="col-sm-6 col-md-8" ng-class="{'has-error': presenteeInfoForm.FullName.$invalid && presenteeInfoForm.FullName.$touched}">
                        <input type="text" class="form-control border-input text-uppercase" id="welcomeFullName" name="FullName"
                               ng-model="preCtrl.form.Presentee.FullName" ng-pattern="/^[a-zA-Zà-ỹÀ-Ỹ0-9]* [a-zA-Zà-ỹÀ-Ỹ0-9 ]*$/" required />
                        <div ng-messages="presenteeInfoForm.FullName.$error" class="help-block">
                            <div ng-message="required" ng-if="presenteeInfoForm.FullName.$touched">Vui lòng nhập tên đầy đủ</div>
                            <div ng-if="preCtrl.fullNameError">Họ tên không được nhập là số</div>
                            <div ng-if="presenteeInfoForm.FullName.$error.pattern">Họ và tên có ít nhất 2 từ và không có ký tự đặc biệt</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <label class="control-label-mgt " for="customerId">Số CMND<span class="cfc-color">*</span>:</label>
                    </div>
                    <div class="col-sm-6 col-md-8" ng-class="{'has-error': presenteeInfoForm.CustomerID.$invalid && presenteeInfoForm.CustomerID.$touched}">
                        <input type="text" class="form-control border-input" id="customerId" name="CustomerID" ng-pattern="/\d{9}|\d{12}/" maxlength="12"
                               ng-model="preCtrl.form.Presentee.IdentityCardNumber" required />
                        <div ng-messages="presenteeInfoForm.CustomerID.$error" class="help-block">
                            <div ng-message="required" ng-if="presenteeInfoForm.CustomerID.$touched">Vui lòng nhập số CMND/CCCD</div>
                            <div ng-message="pattern" ng-if="presenteeInfoForm.CustomerID.$touched">CMND/CCCD chỉ được 9 hoặc 12 số</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <label class="control-label-mgt " for="mobilePhone">Số điện thoại<span class="cfc-color">*</span>:</label>
                    </div>
                    <div class="col-sm-6 col-md-8" ng-class="{'has-error': presenteeInfoForm.MobilePhone.$invalid && presenteeInfoForm.MobilePhone.$touched}">
                        <input type="text" ui-mask="9999 999999" ui-options="{clearOnBlur:false}" ui-mask-placeholder="           "
                               class="form-control border-input w-2" id="mobilePhone" name="MobilePhone" ng-model="preCtrl.form.Presentee.PhoneNumber" ng-pattern="/[0][35789]\d{2} \d{6}/" required />
                        <div ng-messages="presenteeInfoForm.MobilePhone.$error" class="help-block">
                            <div ng-message="required" ng-if="presenteeInfoForm.MobilePhone.$touched">Vui lòng nhập số di động</div>
                            <div ng-message="mask" ng-if="presenteeInfoForm.MobilePhone.$touched">Số di động không hợp lệ</div>
                            <div ng-message="pattern" ng-if="presenteeInfoForm.MobilePhone.$touched">Số di động không hợp lệ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12">
                <span class="presentee-info-mgt">Địa điểm nhận thưởng</span>
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <label class="control-label-mgt" for="regAddrCity">Tỉnh/Thành phố<span class="cfc-color">*</span>:</label>
                    </div>
                    <div class="col-sm-6 col-md-8 z-index-mgt" ng-class="{'has-error': presenteeInfoForm.RegAddrCity.$invalid && presenteeInfoForm.RegAddrCity.$touched}">
                        <ui-select ng-model="preCtrl.form.PostLocation.Province" id="regAddrCity" name="RegAddrCity" class="text-uppercase" theme="bootstrap" ng-required="true">
                            <ui-select-match>{{$select.selected.city}}</ui-select-match>
                            <ui-select-choices repeat="values.city as (city, values) in locations" minimum-input-length="0">
                                
                            </ui-select-choices>
                        </ui-select>
                        <div ng-messages="presenteeInfoForm.RegAddrCity.$error" class="help-block">
                            <div ng-message="required" ng-if="presenteeInfoForm.RegAddrCity.$touched">Vui lòng chọn Tỉnh / Thành Phố</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <label class="control-label-mgt required" for="regAddrDistrict">Quận/Huyện<span class="cfc-color">*</span>:</label>
                    </div>
                    <div class="col-sm-6 col-md-8" ng-class="{'has-error': presenteeInfoForm.RegAddrDistrict.$invalid && presenteeInfoForm.RegAddrDistrict.$touched}">
                        <select class="form-control border-input text-uppercase" id="regAddrDistrict" name="RegAddrDistrict"
                                ng-model="preCtrl.form.PostLocation.District" required>
                            <option ng-value="district" ng-repeat="(district, values) in locations[preCtrl.form.PostLocation.Province].Districts">{{district}}</option>
                        </select>
                        <div ng-messages="presenteeInfoForm.RegAddrDistrict.$error" class="help-block">
                            <div ng-message="required" ng-if="presenteeInfoForm.RegAddrDistrict.$touched">Vui lòng chọn Quận/Huyện</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-md-2">
                <label class="control-label-mgt" for="regAddrWard">Tên Bưu Cục<span class="cfc-color">*</span>:</label>
            </div>
            <div class="col-sm-6 col-md-4" ng-class="{'has-error': presenteeInfoForm.PostName.$invalid && presenteeInfoForm.PostName.$touched}">
                <select class="form-control border-input text-uppercase" id="postName" name="PostName" ng-change="preCtrl.setAddr(locations[preCtrl.form.PostLocation.Province].Districts[preCtrl.form.PostLocation.District].PostNames[preCtrl.form.PostLocation.PostName].PostAddress)"
                        ng-model="preCtrl.form.PostLocation.PostName" required>
                    <option ng-value="postName" ng-repeat="(postName, values) in locations[preCtrl.form.PostLocation.Province].Districts[preCtrl.form.PostLocation.District].PostNames" >{{postName}}</option>
                </select>
                <div ng-messages="presenteeInfoForm.PostName.$error" class="help-block">
                    <div ng-message="required" ng-if="presenteeInfoForm.PostName.$touched">Vui lòng chọn tên Bưu Cục</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <label class="control-label-mgt" for="regAddrStreet">Số nhà/ Đường:</label>
            </div>
            <div class="col-sm-6 col-md-4">
                <input type="text" class="form-control border-input np-gutter" id="PostAddress" name="PostAddress" ng-disabled="true"
                       ng-model="preCtrl.form.PostLocation.PostAddress" ng-value="preCtrl.form.PostLocation.PostAddress" required/>
            </div>
        </div>
        <div class="form-group text-align-mgt">



            <label class="col-md-12">
                <span class="control-label-mgt">(Thông tin chi tiêt và điều khoản tham gia chương trình)</span>
            </label>
        </div>
        <div class="form-group" id="group-btn-bottom">
            <div class="col-md-12 col-sm-12 col-xs-12 form-buttons text-center" id="continue">
                <a href="javascript:void(0)" ng-click="preCtrl.submitPresenteeInfo(presenteeInfoForm)" class="btn btn-submit">ĐĂNG KÝ NGAY</a>
            </div>
        </div>
    </div>
    <div class="thanks" ng-class="{'show': !preCtrl.show}">
        <div class="form-group thank-align-mgt">
            <label class="col-md-12">
                <span class="control-label-mgt">Cảm ơn bạn đã tham gia chương trình <strong>"Giới thiệu bạn vay, nhận ngay tiền thưởng".</strong><br />VietCredit sẽ liên hệ với người được giới thiệu sớm nhất.</span>
            </label>
        </div>

        <div class="form-group" id="group-btn-bottom">
            <div class="col-xs-6 form-buttons text-right" id="continue">
                <a href="javascript:void(0)" ng-click="preCtrl.continues(presenteeInfoForm)" class="btn btn-thanks btn-submit">TIẾP TỤC GIỚI THIỆU</a>
            </div>
            <div class="col-xs-6 form-buttons text-left" id="continue">
                <a href="/" class="btn btn-submit btn-thanks btn-back">TRANG CHỦ</a>
            </div>
        </div>
    </div>
</form>